{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section class="banner-area event-banner" style="background-image: url({{ banner.image.url }});">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1><strong>{{ event.titel }}</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-area-->
<div class="main-content pdt40 pdb-90 event-detail-content">
    <div class="container" style="margin-bottom: 20px;">
        <h2>Update Profile</h2>

        <form method="post" class="login">

            {% csrf_token %}  


                {{ editform|crispy }}
                

            <div class="py-2">
                <button class="btn btn-outline-info">
                    save
                </button>
            </div>
        </form>

        <h2>Change Password</h2>

        <form method="post" class="register">
            {% csrf_token %}  

            

            {{ passwordform|crispy }} 


            <div style="margin-top: 49px;" class="pt-5">
                <button class="btn btn-outline-info">
                    save
                </button>
            </div>
        </form>

    </div><!-- .col-1 -->

</div><!-- #content -->

{% endblock %}

