{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banner-area album-banner" style="background-image: url({{ banner.image.url }});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>My Account</h1>
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-area-->
<div  class="main-content pdt40" style="background-color: #19191d;">
    <div class="container" style="background-color: #19191d;">
        <div class="row">
            <div class="col-lg-3" style="margin-top: 18PX;">
                <h3>Account</h3>
                <ul class="tondy-ul-li">
                    <li style="list-style: none;"><span><em class="icon ni ni-cart-fill"></em></span><a class="tondy-a-color" href="{% url 'my_account' %}">Purchase History</a></li>
                    <li style="list-style: none;"><span><em class="icon ni ni-user-alt-fill"></em></span><a class="tondy-a-color" href="{% url 'edit_profile' %}">Profile & Password</a></li>
                </ul>
                <hr>
                <h3>Customer Service</h3>
                <ul class="tondy-ul-li">
                    <li style="list-style: none;"><a class="tondy-a-color"  href="{% url 'contact' %}"><span><em class="icon ni ni-msg-circle"></em></span>Contact Us</a></li>
                    <li style="list-style: none;"><a class="tondy-a-color"  href="{% url 'logout' %}"><span><em class="icon ni ni-signout"></em></span>Sign Out</a></li>
                </ul>
            </div>
            <div class="col-lg-8 offset-lg-2  pl-4 pt-4 p-0 m-0">
                <div>
                    <h2>Purchase History</h2>
                        
                        <h3 id="order_review_heading" style="margin-top: 31px;">Your order</h3>
                        <div>
                            <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                        <th scope="col">Date Ordered</th>
                                        <th scope="col">Reference Code</th>
                                        <th scope="col">Items</th>
                                        <th scope="col">Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for order in my_orders %}
                                    <tr>
                                        <td>{{ order.date_ordered }}</td>
                                        <td>{{ order.ref_code }}</td>
                                        <td>
                                        {% for item in order.items.all %}
                                            {{ item.product.name }}
                                            {% endfor %}
                                        </td>
                                        <td>${{ order.get_cart_total }}</td>
                            
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan= 4> You have no orders.</td>
                                    </tr>
                                    {% endfor %}
                               
                                </tbody>
                              </table>     
                        </div>
                        {% if not order %}
                            <div style="background-color: #19191d;"> 
                                <a  style="margin-bottom: 50px;"  href="{% url 'shop' %}" class="btn btn-warning pull-left">
                                    Continue Shopping
                                </a>
                            </div>
                        {% else %}
                            <p>You haven’t placed any orders in the last 6 months.
                                Looking for other orders? Try filtering by another time frame.</p>
                            <div>Ready to place an order?
                                <button class='btn btn-primary'>start shoping</button>
                            </div> 
                        {% endif %}
                       
                </div>    
            </div>    
            </div>
        </div>
    </div>
</div>


{% endblock %}

