{% extends 'base(auth).html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="nk-app-root" style="background-color: #19191d;">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap nk-wrap-nosidebar">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                    <div class="brand-logo pb-4 text-center">
                        <a href="{% url 'home' %}" class="logo-brand">
                            <img
                              src="{% static 'home/img/logo/jr--logo (2).png' %}"
                              class="img-responsive m-0 p-0"
                              alt="logo"
                              style="align-self: center;"
                            />
                          </a>
                    </div>
                    <div class="card" style="background-color: #24242f;">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h4 class="nk-block-title">Register</h4>
                                    <div class="nk-block-des">
                                        <p>Create New JR Player Entertainment Account</p>
                                    </div>
                                </div>
                            </div>
                            {% if error %}
                                {{ error }}
                            {% endif %}
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form|crispy }}
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-control-xs custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox" required name="checkbox">
                                        <label class="custom-control-label" for="checkbox">I agree to JR Player Entertainment <a href="#">Privacy Policy</a> &amp; <a href="#"> Terms.</a></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" style="background-color: #f44b06;border-color: #f44b06">Register</button>
                                </div>
                            </form>
                            <div class="form-note-s2 text-center pt-4"> Already have an account? <a href="{% url 'login' %}"><strong>Sign in instead</strong></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- wrap @e -->
        </div>
        <!-- content @e -->
    </div>
    <!-- main @e -->
</div>
{% endblock %}