{% extends 'base.html' %} {% load static %} {% block content %} 
{% if event %}
<section class="banner-area event-banner" style="background-image: url({{ banner.image.url }});">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1><strong>{{ event.titel }}</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-area-->
<div class="main-content pdt40  event-detail-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pdr0">
                <div class="image">
                    <img src="{{ event.image.url }}" alt="event" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-detail">
                    <div class="event-vane-date-artist">
                        <h3>Rock Festival</h3>
                        <ul>
                            <li>DATE <span>{{ event.date }}</span></li>
                            <li>VENUE <span>{{ event.venue }}</span></li>
                            <li>ARTIST <span>{{ event.artists }}</span></li>
                        </ul>
                    </div>
                    <div class="event-counter">
                        <div id="event-counter-three" class="musica-counter-active" data-value-year="2018" data-value-month="2" data-value-day="28" data-value-zone="+10" ></div>
                    </div>
                    <div class="buy-event-ticket">
                        <a href="#" class="musica-button-two base-gradient-bg">Ticket</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-detail-text">
            <div class="section-heading">
                <h2>About <strong>Event</strong></h2>
            </div>
            <p>{{ event.about_event }}</p>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}