{% extends 'dashboard/mail/base(mail).html' %}


{% block mail %}
{% if inbox %}
    <div class="nk-ibx-item">
        <a href="#" class="nk-ibx-link"></a>
        <div class="nk-ibx-item-elem nk-ibx-item-check">
            <div class="custom-control custom-control-sm custom-checkbox">
                <input type="checkbox" class="custom-control-input nk-dt-item-check" id="conversionItem01">
                <label class="custom-control-label" for="conversionItem01"></label>
            </div>
        </div>
        <div class="nk-ibx-item-elem nk-ibx-item-star">
            <div class="asterisk"><a href="#"><em class="asterisk-off icon ni ni-star"></em><em class="asterisk-on icon ni ni-star-fill"></em></a></div>
        </div>
        <div class="nk-ibx-item-elem nk-ibx-item-user">
            <div class="user-card">
                <div class="user-avatar">
                    <img src="./images/avatar/a-sm.jpg" alt="">
                </div>
                <div class="user-name">
                    <div class="lead-text">Abu Bin Ishtiyak</div>
                </div>
            </div>
        </div>
        <div class="nk-ibx-item-elem nk-ibx-item-fluid">
            <div class="nk-ibx-context-group">
                <div class="nk-ibx-context">
                    <span class="nk-ibx-context-text">
                        <span class="heading">Can we help you set up email forwording?</span> We’ve noticed you haven’t set up email forward </span>
                </div>
            </div>
        </div>
        <div class="nk-ibx-item-elem nk-ibx-item-attach">
        </div>
        <div class="nk-ibx-item-elem nk-ibx-item-time">
            <div class="sub-text">10:00 AM</div>
        </div>
        <div class="nk-ibx-item-elem nk-ibx-item-tools">
            <div class="ibx-actions">
                <ul class="ibx-actions-hidden gx-1">
                    <li>
                        <a href="#" class="btn btn-sm btn-icon btn-trigger" data-toggle="tooltip" data-placement="top" title="Archive"><em class="icon ni ni-archived"></em></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-icon btn-trigger" data-toggle="tooltip" data-placement="top" title="Delete"><em class="icon ni ni-trash"></em></a>
                    </li>
                </ul>
                <ul class="ibx-actions-visible gx-2">
                    <li>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="link-list-opt no-bdr">
                                    <li><a class="dropdown-item" href="#"><em class="icon ni ni-eye"></em><span>View</span></a></li>
                                    <li><a class="dropdown-item" href="#"><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                    <li><a class="dropdown-item" href="#"><em class="icon ni ni-archived"></em><span>Archive</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}