{% extends 'base.html' %} {% load static %} {% block content %} 
{% if banner %}
<section class="banner-area album-banner" style="background-image: url({{ banner.image.url }});" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1><strong>{{ album.title }}</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-area-->
{%endif %}
<div class="main-content pdt40 pdb90">
    <div class="container">
        <div class="album-detail">
            <div class="row">
                <div class="col-md-6 pdr0">
                    <div class="image">
                        <img src="{{ album.image.url }}" alt="album" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="jr-playe--album" >
                        <h3>{{ album.title }}</h3>
                        <ul>
                            <li>Artist: {{ album.artist }}</li>
                            <li>Genre:<span class="li-saide">{{ album.genre }}</span></li>
                            <li>Released Date:<span class="li-saide">{{ album.released_date }}</span></li>
                            <li>Label:<span class="li-saide">{{ album.label }}</span></li>
                        </ul>
                        <div class="album-detail-button">
                            {% for link in links %}
                                <a href="#" class="musica-button-two">buy Now</a>
                            {% endfor %}   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul>
                {% for s in song %}
                <div class="upcoming-event">
                    <div class="fornt-part">
                    <div class="date">Album: {{ s.album }}</div>
                    <div class="date">Title: {{ s.title }}</div>
                    <div class="date">Artist: {{ s.artist }}</div>
                    <div class="detail text-right">
                        <h4 class="musica-button-two">{{ s.title }}</h4>
                    </div>
                    </div>
                    <div class="back-part">
                    <div class="event-counter">
                        <audio src="{{ s.song.url }}" controls><source src="{{ s.song.url }}" type="audio/mp3">
                            <h1>{{ s.title }}</h1>
                        </audio>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <!-- <div class="album-detail-audio-player">
            <div class="musica-audio-player">
                <div id="musica-audio-player-container" class="jp-video" role="application" aria-label="media player">
                    <div id="tr-player"></div>
                    <div class="jp-type-playlist">
                        <div class="audio-table">
                            <div class="jp-controls">
                                <button class="jp-previous"></button>
                                <button class="jp-play"></button>
                                <button class="jp-next"></button>
                                <button class="jp-stop"></button>
                            </div>
                            <div class="jp-toggles">
                                <button class="jp-repeat">repeat</button>
                                <button class="jp-shuffle">shuffle</button>
                                <button class="jp-full-screen">full screen</button>
                            </div>
                            <div class="jp-gui">
                                <div class="jp-video-play">
                                    <button class="jp-video-play-icon"></button>
                                </div>
                                <div class="jp-interface">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                    <button class="audio-playlist">...</button>
                                </div>

                            </div>
                            <div class="jp-volume-controls">
                                <button class="jp-mute"></button>
                                <button class="jp-volume-max"></button>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                            <div class="jp-details">
                                <div class="jp-title" aria-label="title">&nbsp;</div>
                            </div><!--/title-->
                            <!-- <div id="musica-jquery-jplayer" class="jp-jplayer"></div>
                        </div>
                        <div class="audio-playlist-wrapper" >
                            <div id="playlist-wrapper">
                                <div class="jp-playlist">
                                    <ul>
                                        <li>
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --> 
        <!-- end mediaplayer -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Related <strong>album</strong></h2>
                </div>
            </div>
            {% for album in albums %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="album-item">
                    <a href="#">
                        <img
                        src="{{ album.image.url }}"
                        class="img-responsive"
                        alt="album"
                        />
                        <div class="overlay base-gradient-bg"></div>
                        <h3 class="heading">{{ album.title }}</h3>
                        <span class="sub-heading">{{ album.genre }}</span>
                    </a>
                    </div>
                    <!--/.album-item-->
                </div>
            {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}