<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>JR Player </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- ================= Favicon ================== -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
        href="{% static 'home/static/img/logo/f-icon.png' %}"/>

    <link rel="shortcut icon" href="{% static 'home/img/logo/f-icon.png' %}">
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <!-- dashlite -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <!-- end -->
    <link rel="stylesheet" href="{% static 'lightbox/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/rtl.css' %}"><!-- endinject -->
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" />
    <!-- Ionicon css-->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <!-- Font Awesome css-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <!-- REVOLUTION SLIDER STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/layers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}" />
    <!-- Jquery Countdown css-->
    <!-- Magnific popup css-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <!-- SLimple Light box-->
    <link rel="stylesheet" href="{% static 'css/simplelightbox.css' %}" />
    <!-- Style css-->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <!-- Responsive css-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Modernizr js-->
    <script src="{% static 'home/js/modernizr-2.8.3.min.js' %}"></script>

  
   
    <!-- lightbox -->

    <link rel="stylesheet" href="{% static 'lightbox/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/odometer-theme-minimal.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/prism-okaidia.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/swiper.css' %}">
  </head>
  <body>
    <div class="preloader">
      <div class="loader">
        <div class="loader-inner line-scale-pulse-out">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <header class="musica-header home-page-header">
      <div class="menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <a href="{% url 'home' %}" class="logo-brand">
                  <img
                    src="{% static 'home/img/logo/jr--logo (2).png' %}"
                    class="img-responsive"
                    alt="logo"
                    style="align-self: center;"
                  />
                </a>
              </div>  
              </span>
              <nav id="easy-menu">
                <div style="padding-top: 11px;" class="button">
                  <em style="margin-top: 20px;" class="icon ni ni-menu"></em>
                </div>
                <ul class="menu-list">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>
                    <a href="{% url 'event-list' %}">Events</a>
                  </li>
                  <li>
                    <a href="{% url 'album' %}">album</a>
                  </li>
                  <li>
                    <a href="{% url 'news' %}">news</a>
                  </li>
                  <li>
                    <a href="{% url 'music' %}">Music</a>
                  </li>
                  <li>
                    <a href="{% url 'gallery' %}">gallery</a>
                  </li>
                  <li>
                    <a href="{% url 'shop' %}">shop</a>
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li>
                    <span class="shop-icon">
                      <a href="{% url 'order_summary' %}"><em style="font-size: 24px;margin-bottom: 12px;" class="icon ni ni-bag"></em><span class="shop-count base-gradient-bg">1 </span></a>
                    </span>
                    <span class="shop-icon">
                      <a href="{% url 'my_account' %}"><em style="font-size: 24px;" class="icon ni ni-user-circle"></em></a>
                    </span>
                  </li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}">Log-In</a></li>
                  <li><a href="{% url 'login' %}">Register</a></li>
                  {% endif %}
                </ul>
              </nav>
              
            </div>
          </div>
        </div>
      </div>
      <!--/.menu-area-->
    </header>
    {% block content %}{% endblock %}

    <footer class="black-bg musica-footer" style="padding: 50px">
      <div class="container">
        <div class="footer-logo">
          <a href="{% url 'home' %}"
            ><img height="100" src="{% static 'home/img/logo/jr--logo (4).png' %}" alt="logo"
          /></a>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'event-list' %}">Event</a></li>
            <li><a href="{% url 'news' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Conact</a></li>
          </ul>
        </div>
        <div class="social-icon">
          <ul>
            {% for ab in about %}
              <li>
                <a href="{{ ab.url }}"><img height="20" src="{{ ab.icon.url }}" alt="logo"/></a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </footer>
    <!-- == jQuery Librery == -->
    <script src="{% static 'home/js/jquery-2.2.4.min.js' %}"></script>
    <!-- == Bootsrap js File == -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- == Jquery Countdown == -->
    <script src="{% static 'home/js/jquery.plugin.js' %}"></script>
    <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
    <!-- == Magnific Popup == -->
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- == nicescroll == -->
    <script src="{% static 'home/js/jquery.nicescroll.min.js' %}"></script>
    <!-- == Jquery Player == -->
    <script src="{% static 'home/js/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'home/js/jplayer.playlist.min.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/audio-playlist.js' %}"
    ></script>
    <!-- == Light Box == -->
    <script src="{% static 'home/js/simple-lightbox.min.js' %}"></script>
    <!-- == Isotope == -->
    <script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>
    <!-- == Revolution Slider JS == -->
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution/jquery.themepunch.tools.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution/jquery.themepunch.revolution.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution/extensions/revolution.extension.actions.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution/extensions/revolution.extension.layeranimation.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution/extensions/revolution.extension.navigation.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution/extensions/revolution.extension.slideanims.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'home/js/revolution-active.js' %}"
    ></script>
    <!-- == Custom Js == -->
    <script src="{% static 'home/js/custom.js' %}"></script>

    <!-- lightbox -->

<script src="{% static 'lightbox/js/aos.js' %}"></script>
<script src="{% static 'lightbox/js/site.js' %}"></script>
<script src="{% static 'lightbox/js/swiper.js' %}"></script>
  </body>
</html>
