<!DOCTYPE html>
<html lang="zxx" class="js">
{% load static %}
<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'home/static/img/logo/f-icon.png' %}">
    <!-- Page Title  -->
    <title>Login | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
</head>

<body class="nk-body bg-white npc-general pg-auth">
    {% block content %}{% endblock %}
</body>
<!-- app-root @e -->
<!-- JavaScript -->
<script 0src="{% static 'assets/js/bundle.js' %}"></script>
<script 0src="{% static 'assets/js/scripts.js' %}"></script>

</html>    