<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music Player</title>
    <link rel="stylesheet" href="{% static 'music/main.css' %}"> 
    <meta name="author" content="SemiColonWeb">
    <link
    rel="icon"
    type="image/png"
    sizes="192x192"
      href="{% static 'static/img/logo/f-icon.png' %}"/>

  <link rel="shortcut icon" href="{% static 'img/logo/f-icon.png' %}">
  <!-- Bootstrap css-->
  <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
  <!-- Style css-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- Responsive css-->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />


	<!-- Stylesheets
	============================================= -->
	<link href="{% static 'music/css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'music/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'music/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'music/dark.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'music/swiper.css' %}" type="text/css">

	<!-- Music Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'music/music.css' %}" type="text/css">
	<!-- / -->

	<link rel="stylesheet" href="{% static 'music/font-icons.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'music/et-line.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'music/animate.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'music/magnific-popup.css' %}" type="text/css">

	<link rel="stylesheet" href="{% static 'music/fonts.css' %}" type="text/css">

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="{% static 'music/bs-switches.css' %}" type="text/css">

	<link rel="stylesheet" href="{% static 'music/custom.css' %}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="preloader">
      <div class="loader">
        <div class="loader-inner line-scale-pulse-out">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <header class="musica-header home-page-header">
      <div class="menu-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <a href="{% url 'home' %}" class="logo-brand">
                  <img
                    src="{% static 'home/img/logo/jr--logo (2).png' %}"
                    class="img-responsive"
                    alt="logo"
                    style="align-self: center;"
                  />
                </a>
              </div>  
              </span>
              <nav id="easy-menu">
                <div style="padding-top: 11px;" class="button">
                  <em style="margin-top: 20px;" class="icon ni ni-menu"></em>
                </div>
                <ul class="menu-list">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li>
                    <a href="{% url 'event-list' %}">Events</a>
                  </li>
                  <li>
                    <a href="{% url 'album' %}">album</a>
                  </li>
                  <li>
                    <a href="{% url 'music' %}">Music</a>
                  </li>
                  <li>
                    <a href="{% url 'gallery' %}">gallery</a>
                  </li>
                  <li>
                    <a href="{% url 'shop' %}">shop</a>
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li>
                    <span class="shop-icon">
                      <a href="{% url 'order_summary' %}"><em style="font-size: 24px;margin-bottom: 12px;" class="icon ni ni-bag"></em><span class="shop-count base-gradient-bg">1 </span></a>
                    </span>
                    <span class="shop-icon">
                      <a href="{% url 'my_account' %}"><em style="font-size: 24px;" class="icon ni ni-user-circle"></em></a>
                    </span>
                  </li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}">Log-In</a></li>
                  <li><a href="{% url 'login' %}">Register</a></li>
                  {% endif %}
                </ul>
              </nav>
              
            </div>
          </div>
        </div>
      </div>
  </header>
      <!--/.menu-area-->
    {% block content %}{% endblock %}

    <footer class="black-bg musica-footer" style="padding: 50px">
      <div class="container">
        <div class="footer-logo">
          <a href="{% url 'home' %}"
            ><img height="90" src="{% static 'img/logo/jr--logo (4).png' %}" alt="logo"
          /></a>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'event-list' %}">Event</a></li>
            <li><a href="{% url 'news' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Conact</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
          </ul>
        </div>
        <div class="social-icon">
          <ul>
            {% for ab in about %}
              <li>
                <a href="{{ ab.url }}"><img height="20" src="{{ ab.icon.url }}" alt="logo"/></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </footer>
   	<!-- JavaScripts ============================================= -->
	<script async="" src="{% static 'music/analytics.js' %}"></script><script src="{% static 'music/jquery.js' %}"></script>
	<script src="{% static 'music/plugins.min.js' %}"></script>

      <!-- == jQuery Librery == -->
      <script src="{% static 'home/js/jquery-2.2.4.min.js' %}"></script>
      <!-- == Bootsrap js File == -->
      <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
      <!-- == Jquery Countdown == -->
      <script src="{% static 'home/js/jquery.plugin.js' %}"></script>
      <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
      <!-- == Magnific Popup == -->
      <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- == nicescroll == -->
      <script src="{% static 'home/js/jquery.nicescroll.min.js' %}"></script>
      <!-- == Light Box == -->
      <script src="{% static 'home/js/simple-lightbox.min.js' %}"></script>
        <!-- == Isotope == -->
      <script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>
        
        <!-- == Custom Js == -->
        <script src="{% static 'home/js/custom.js' %}"></script>

 
	

</body>
</html>